@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

.main {
  display: flex;
  height: calc(100vh - 67.6px);
  justify-content: flex-start;
  background-color: black;
}
.signup_container {
  flex-basis: 50%;
  /* background-image: url("https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80"); */
  background-color: rgba(255, 255, 255, 0.863);
  background-size: cover;
  font-family: "Urbanist", sans-serif;
  font-weight: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sub_container {
  display: flex;
  margin: 3rem;
  width: 60%;
  background-color: white;

  flex-direction: column;
  padding: 4rem;
}
.sub_container input {
  margin-bottom: 2rem;
  outline: none;
  height: 2rem;
  padding: 1rem 2rem;
}
.sub_container button {
  width: 30%;
  height: 4rem;
  background-color: black;
  color: white;
}
.sideimage {
  padding-top: 5rem;
  flex-basis: 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.671)),
    url("https://images.unsplash.com/photo-1492707892479-7bc8d5a4ee93?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1901&q=80");
}
.sideimage h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 7rem;
  color: white;
  margin: 0;
  margin-left: 5rem;
}
.sideimage h2 {
  font-family: "Urbanist", serif;
  font-weight: 100;
  font-size: 5rem;
  color: aliceblue;
  margin: 0;
  margin-left: 5rem;
}
.transition {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: black;
}
.transition span {
  cursor: pointer;
}
.transition span:hover {
  text-decoration: underline;
}
.switch {
  display: flex;
  /* border: 1px solid rgba(0, 0, 0, 0.247); */
  margin-bottom: 3rem;
}
.switch p {
  font-family: "Urbanist", serif;
  cursor: pointer;
  color: inherit;
  margin: 1rem;
}
.signup {
  flex-basis: 50%;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.247);
}
.active {
  background-color: black;
  color: white !important;
}
.login {
  flex-basis: 50%;
  text-align: center;
}
