@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

.productCon {
  background-color: #eee;
  border: 0.1px solid rgba(209, 209, 209, 0.274);
  display: flex;

  flex-direction: column;

  align-items: center;
  /* padding: 1rem; */
}
.productCon__top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top__image {
  display: block;
  width: 60%;
  object-fit: cover;
  aspect-ratio: 4/3;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.productCon__bottom {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.rating {
  display: flex;
}
.buynow {
  margin-top: 1rem;

  margin-bottom: 1rem;
  border-radius: 5rem;
  padding: 0.6rem 3rem;
  color: black;
  display: flex;
  transition: all 0.2s;
  cursor: pointer;
}

.buynow:hover {
  transform: translateY(-0.3rem);
}
.buynow:active {
  transform: translateY(-0.1rem);
}
.buynow > span:not(:last-child) {
  margin-right: 0.5rem;
}
.productCon__bottom p {
  font-size: 2rem;
  color: rgb(173, 38, 65);
}
.productCon__bottom > h1 {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: grey;
  display: block;
  flex-grow: 1;
}
a {
  text-decoration: none;
}
